* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

.Project {
    text-align: center;
    background-color: rgb(196, 196, 196);
    padding-bottom: 10px;
}

@media (max-width: 900px) {
    .maket {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(235, 235, 235);
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    .maket {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: rgb(235, 235, 235);
    }
}

@media (min-width: 1200px) {
    .maket {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: rgb(235, 235, 235);
    }
}

.maket-item {
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
    width: 400px;
    color: rgb(65, 65, 65);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}

.maket-haader {
    width: 100%
}

.maket-haader img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.maket-body {
    padding: 10px
}

.maket-body a {
    padding: 10px 15px;
    border: 4px solid rgb(114, 114, 114);
    text-decoration: none;
    color: rgb(100, 100, 100);
}

.maket-body a:hover {
    background-color: rgb(114, 114, 114);
    color: rgb(236, 236, 236);
    transition: 0.3s;
}