* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}
.max-w {
  max-width: 1200px;
  margin: 0 auto;
}
.mid-w {
  max-width: 900px;
  margin: 0 auto;
}
.material-icons {
  color: yellowgreen;
}
p {
  color: #797979;
  line-height: 150%;
}
header {
  text-align: center;
}
nav {
  padding: 15px;
  background-color: white;
  z-index: 3;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo {
  display: flex;
  flex-direction: row;
}
.navbar-logo img {
  height: 30px;
  position: relative;
  top: -5px;
}
.navbar-logo h2 {
  margin-left: 10px;
}
.navbar-items li {
  display: inline-block;
}
.navbar-item {
  text-decoration: none;
  color: #818181;
  margin: 0 10px;
}
.navbar-btn {
  background-color: yellowgreen;
  color: white;
  padding: 10px 25px ;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.banner {
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
}
.banner div {
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.267);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}
.banner h2 {
  color: #d3d3d3;
  margin: 20px;
}
.banner-btn {
  padding: 20px 25px;
  color: white;
  background-color: yellowgreen;
  border: none;
  border-radius: 8px;
}
.ourwork {
  padding: 100px;
}
.ourwork-head {
  text-align: center;
  margin-bottom: 80px;
}
.ourwork-head img {
  width: 50px;
  height: 50px;
  margin-bottom: 40px;
}
.ourwork-head h1 {
  line-height: 140%;
  margin-bottom: 40px;
}
.ourwork-head p {
  width: 800px;
  margin: 10px auto;
  color: #818181;
}
.ourwork-body-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.ourwork-body-select-item {
  display: flex;
  align-items: center;
}
.ourwork-body-select-item div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #272727;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourwork-body-select-item div.active {
  background-color: yellowgreen;
}
.ourwork-body-select-item p {
  font-size: 25px;
  margin-left: 30px;
}
.ourwork-body-bar {
  height: 3px;
  width: 100%;
  background-color: #b6b6b6;
  margin-bottom: 40px;
}
.ourwork-body-bar div {
  background-color: yellowgreen;
  height: 100%;
  width: 23%;
}
.ourwork-body-list {
  height: 200px;
}
.ourwork-body-list-item {
  height: 200px;
  display: flex;
  flex-direction: row;
}
.ourwork-body-list-item:nth-child(1) {
  opacity: 0;
}
.ourwork-body-list-item:nth-child(2) {
  opacity: 0;
  position: relative;
  top: -200px;
  left: 0;
  right: 0;
  bottom: 0;
}
.ourwork-body-list-item:nth-child(3) {
  opacity: 3;
  position: relative;
  top: -400px;
  left: 0;
  right: 0;
  bottom: 0;
}
.ourwork-body-list-item-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourwork-body-list-item-img img {
  height: 100px;
}
.ourwork-body-list-item-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ourwork-body-list-item-text h3 {
  text-align: left;
  color: yellowgreen;
  margin-bottom: 30px;
}
.ourwork-body-list-item-text p {
  color: #818181;
  line-height: 140%;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}
.max-w {
  max-width: 1200px;
  margin: 0 auto;
}
.mid-w {
  max-width: 900px;
  margin: 0 auto;
}
.material-icons {
  color: yellowgreen;
}
p {
  color: #797979;
  line-height: 150%;
}
.split-screen {
  display: flex;
}
.split-screen-path {
  width: 50%;
  padding: 40px 0;
  float: left;
  display: flex;
  justify-content: center;
}
.split-screen-path:nth-child(1) {
  background-color: #85e4e7;
}
.split-screen-path:nth-child(2) {
  background-color: #b1dab8;
}
.split-screen-path-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.split-screen-path-img img {
  height: 100px;
}
.split-screen-path-text {
  width: 300px;
  margin-left: 25px;
}
.split-screen-path-text p {
  margin: 30px 0;
}
.split-screen-btn-blue {
  padding: 15px 20px;
  background-color: #1c8bd4;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
}
.split-screen-btn-green {
  padding: 15px 20px;
  background-color: #9acd32;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
}
.Projects {
  padding-top: 100px;
  padding-bottom: 50px;
}
.Projects-head {
  text-align: left;
  padding-bottom: 40px;
}
.Projects-head div {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Projects-head div p {
  width: 50%;
}
.Projects-head-btn {
  padding: 15px 20px;
  background-color: #ffffff;
  border: #5c5c5c 1px solid;
  border-radius: 5px;
  color: #707070;
  text-decoration: none;
  float: right;
}
.Projects-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Projects-body-card {
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  background-color: rgba(235, 235, 235, 0.568);
}
.Projects-body-card-head {
  background-image: url(../images/CardOne.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
}
.Projects-body-card-head div {
  display: inline-block;
  background-color: #19d0f0;
  color: #ffffff;
  border-radius: 4px;
  padding: 5px 10px;
  position: relative;
  top: 80px;
  left: 155px;
  align-items: center;
}
.Projects-body-card-head div p {
  display: inline;
  color: white;
}
.Projects-body-card-head div h4 {
  display: inline;
}
.Projects-body-card-head::before {
  content: "NEW";
  background-color: yellowgreen;
  color: white;
  display: block;
  padding-bottom: 15px;
  padding-top: 30px;
  position: relative;
  text-align: center;
  top: -15px;
  left: -135px;
  transform: rotate(-45deg);
}
.Projects-body-card-body {
  padding: 10px;
  text-align: left;
}
.Projects-body-card-body p {
  margin: 15px 0;
}
.Projects-body-card-body-bar {
  overflow: hidden;
  height: 15px;
  border-radius: 7px;
  background-color: #dadada;
}
.Projects-body-card-body-bar div {
  height: 100%;
  width: 10%;
  background-color: yellowgreen;
}
.Projects-body-card-body-bar-discription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Projects-body-card-footer div {
  padding: 10px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  float: right;
}
.Projects-body-card-footer div p {
  color: #585858;
}
.Community {
  background-image: url(../images/fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  box-shadow: 0 50px 50px #ffffff inset;
  text-align: center;
  height: 600px;
}
.Community-head h1 {
  color: yellowgreen;
}
.Community-head p {
  width: 600px;
  margin: 20px auto;
}
.Community-body {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.Community-body-item {
  width: 450px;
}
.Community-body-item-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Community-body-item-message-text {
  width: 400px;
  background-color: #ffffff;
  padding: 0 25px;
  padding-bottom: 25px;
  border-radius: 10px;
  margin-bottom: 40px;
}
.Community-body-item-message-text h2 {
  margin-bottom: 20px;
}
.Community-body-item-message-text::before {
  content: "";
  position: relative;
  height: 0;
  width: 0;
  top: 200px;
  left: -100px;
  border-left: 0px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #ffffff;
}
.Community-body-item-message-text h2 {
  color: yellowgreen;
}
.Community-body-item-message-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -45px;
}
.Community-body-item-message-user img {
  height: 80px;
  width: 80px;
  border-radius: 10px;
  object-fit: cover;
}
.Community-body-item-message-user h3 {
  margin-left: 20px;
}
footer {
  width: 100%;
  background-color: white;
  text-align: center;
}
footer img {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}
